<nav id="main-nav">
    <ul>
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/src/pages/meet-tas.html" class="nav-link">Meet TAs</a></li>
        <li><a href="/src/pages/meet-programmers.html" class="nav-link">Meet Programmers</a></li>
        <li><a href="/src/pages/career-dev/index.html" class="nav-link">Career Development</a></li>
        <li><a href="/src/pages/creative-space/index.html" class="nav-link">Creative Space</a></li>
        <li><a href="/src/pages/diversity/index.html" class="nav-link">Diversity</a></li>
        <li><a href="/src/pages/clubs.html" class="nav-link">Clubs</a></li>
        <li><a href="/src/pages/contributions.html" class="nav-link">Contributions</a></li>
        <li><a href="/src/pages/alumni.html" class="nav-link">Alumni</a></li>
    </ul>
</nav>